In [2]:
#import library
import numpy as np
import pandas as pd

In [3]:
#Create a Series using the following data: data = [10, 20, 30, 40, 50]
s1=pd.Series([10, 20, 30, 40, 50])
s1

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [4]:
#Assign the following index labels to the Series: index = ['a', 'b', 'c', 'd', 'e']
s1.index=['a', 'b', 'c', 'd', 'e']
s1

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [5]:
#Use index values to select the values of the Series for the labels 'b' and 'e'.
s1['b']

20

In [6]:
s1['e']

50

In [10]:
#Check if the Series contains the value 20 using a boolean array.
s1.isin([20])

a    False
b     True
c    False
d    False
e    False
dtype: bool

In [11]:
#Check if the Series contains the values 15 and 20 using a boolean array
s1.isin([15,20])

a    False
b     True
c    False
d    False
e    False
dtype: bool

In [12]:
#6. Add the value 5 to each element of the Series using array operations.
s1+5

a    15
b    25
c    35
d    45
e    55
dtype: int64

In [13]:
#7. Convert the Series into a Python dictionary and check its values.
s1.a

10

In [14]:
s_dict=s1.to_dict()
s_dict

{'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': 50}

In [19]:
#Pass a dictionary to the Series constructor and assign the following keys and values:
#{'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': 50, 'f': 60}
dict2={'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': 50, 'f': 60}
s1=pd.Series(dict2)
s1

a    10
b    20
c    30
d    40
e    50
f    60
dtype: int64

In [20]:
#9. Check if any values in the Series are null or not null using isnull() and notnull() methods.
s1.isnull()

a    False
b    False
c    False
d    False
e    False
f    False
dtype: bool

In [21]:
s1.notnull()

a    True
b    True
c    True
d    True
e    True
f    True
dtype: bool

In [22]:
#10. Create another Series using the following data: data2 = [20, 30, 40, 50, 60]
s2=pd.Series([20, 30, 40, 50, 60])
s2

0    20
1    30
2    40
3    50
4    60
dtype: int64

In [23]:
#11. Assign the following index labels to the second Series: index2 = ['b', 'c', 'd', 'e', 'f']
s2.index=['b', 'c', 'd', 'e', 'f']
s2

b    20
c    30
d    40
e    50
f    60
dtype: int64

In [24]:
#Add the two Series together and observe how pandas automatically aligns the data based on
#their index labels.
s3=s1+s2

In [25]:
s3

a      NaN
b     40.0
c     60.0
d     80.0
e    100.0
f    120.0
dtype: float64

In [29]:
#13. Use the unique() method to find the unique values in the Series.
s1.unique()

array([10, 20, 30, 40, 50, 60], dtype=int64)

In [30]:
#14. Use the sort_values() method to sort the Series in ascending order by value.
s3.sort_values()

b     40.0
c     60.0
d     80.0
e    100.0
f    120.0
a      NaN
dtype: float64

In [31]:
s3.rank(ascending=True,pct=False)

a    NaN
b    1.0
c    2.0
d    3.0
e    4.0
f    5.0
dtype: float64

In [33]:
#15. Save the Series to a text file using the to_csv() method.
b=s3.to_csv()

In [34]:
b

',0\r\na,\r\nb,40.0\r\nc,60.0\r\nd,80.0\r\ne,100.0\r\nf,120.0\r\n'